<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Say Hello</title>
    </head>

    <body>
        <form action="greet" method="POST">
            {% for message in get_flashed_messages() %}
            <p>{{ message }}</p>
            {% endfor %}

{#            <p>What's your name?</p>#}
            <br>
            <input type="text" name="name_input">
            <br>
            <input type="submit" value="GREET" id="greet">
        </form>
    </body>
</html>